@import url('./main-layout.css');

vaadin-notification-card::part(content) {
    padding: 0;
    display: flex; /* Optional: Ensures child can expand fully */
}

vaadin-notification-card::part(content) > * {
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* To respect padding/margins within bounds */
}

